/* HomePage.css */
.AboutUs {
  display: flex;
  flex-direction: column; /* Stacks the content vertically */
  align-items: flex-end; /* Aligns the content to the right */
  text-align: left; /* Keeps the text alignment to the left */
  margin-left: 50%; /* Starts the content from the middle of the page */
  width: 50%; /* Sets the width of the container to 50% of its parent */
}

.AboutUs h1, .AboutUs p {
  width: 100%; /* Each paragraph takes the full width of the .AboutUs container */
}


.Research {
  background-color: #272B31;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.Research h1 {
  margin-bottom: 10px;
}

.Research p {
  text-align: center;
  margin-bottom: 20px;
}

.swiper-container {
  width: 100%;  /* Takes the full width of its parent */
  height: 500px; /* Set a fixed height for consistent behavior */
  margin: 20px auto 50px; /* Centered horizontally */
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex; /* Flexbox for inner alignment */
}

.swiper-slide img {
  width: 100%; /* Image takes full width of the slide */
  height: auto; /* Height adjusts to maintain aspect ratio */
  margin: 0; /* Removed the margin around images for a full-width effect */
  display: block;
  object-fit: contain; /* Ensures the image fits without distortion */
}


.blog-caption {
  font-size: 1em;
  color: #ccc;
  padding: 10px;
  text-align: center;
}

.home-content-sec-one {
  position: absolute;
  top: 50%; /* Place it in the middle vertically */
  left: 50%; /* Place it in the middle horizontally */
  transform: translate(-50%, -20%); /* Center it precisely */
  text-align: center; /* Center text */
  color: rgb(0, 0, 0);
}

.home-content-sec-one h2 {
  font-size: 50px;
}

.home-content-sec-one h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
}

.home-content-sec-one h3 {
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
}

.explore-btn {
  background-color: antiquewhite; /* Green */
  border: none;
  color: black;
  padding: 5px 25px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.VetTeam {
  background-color: #272B31;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.vet-team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.vet-card {
  width: 20%; /* Adjust based on your layout preferences */
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  color: #000;
  border-radius: 10%;
  margin-bottom: 70px;

}

.vet-image {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Ensure width and height are the same */
  background-color: #ccc; /* Placeholder color for images */
  border-radius: 50%; /* This makes the shape a circle */
  margin-bottom: 70px;
  margin-left: 5px;  /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
}


.vet-info {
  font-size: 16px;
  text-align: center;
  background-color: #ccc; /* Placeholder color for images */
  width: auto; /* Adjust size as needed */
  height: 150px; /* Ensure width and height are the same */
  
}
